// Header Section
// --------------------------------------------------
#header {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100vh;
  text-shadow: 0 .2rem .3rem alpha(#000, .5);
  color: var(--header-text-color);

  a:hover {
    color: currentColor;
  }
}

#angle{
  position: absolute;
  bottom: 8vh;
  left: 50%;
  cursor: pointer;
  z-index: 5;
  transform: translateX(-50%);

  i{
    font-size: 50px;
    color: #fff;
    animation: angle-fade 2s ease-in-out infinite;
  }

  animation: angle-updown 2s infinite
}

/* 呼吸式透明度动画 */
@keyframes angle-fade {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes angle-updown
  0%, 100%
    transform: translateY(0)
  50%
    transform: translateY(-10px)


@import 'image';
@import 'nav';
@import 'brand';
@import 'tool';
@import 'waves';
